h1 {
	color: orange;
    border-color: royalblue;
    border-width: 3px;
	border-bottom-style: solid;
}

h2 {
	font-family: cursive;
	color: green;
	background: lightblue;
	margin: 5px;
}

div.zentai{
    display: flex;
    flex-direction: column;
}

div.one{
    flex: 2;
}